.chart__div{
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    background-color: red;
    @include respond(phone){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__date-picker{
        width: 30%;
        margin: auto;
        margin-bottom: 30px;
    }
    &__first-chart{
        // margin-right: 50px;
        background-color: $background;
        padding: 12px 16px;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        &__intro{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__second-chart{
        background-color: $background;
        padding: 12px 16px;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        &__intro{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }

}