.comparison__page{
  max-width: $maxwidth;
  margin: auto;
    &__upper{
      display: flex;
    flex-flow: row wrap;   
    align-items: center;
    justify-content: space-around;
    padding: 8px 12px;
    width: 100%;
    margin: 50px 0px;
    }
    &__lower{
      box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      margin: 20px 0;
      & h2{
        color: #357BCE;
        padding: 20px;
      }
    }
    &__inputs{
        @include respond(phone){
            margin: 50px 0px;
        }
    }
    &__block-1{
        @include respond(phone){
            margin-bottom: 30px;
        }
    }
    &__block-2{
        @include respond(phone){
            margin-bottom: 50px;
        }
    }
}