.mydetails{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    max-width: 1000px;
    padding: 10px 14px;
}

/* Tag component styling */
.tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 400px;
    margin-bottom: 50px;
   
}
.tag label{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.tag__address{
    width: 100%;
}
.tag__address label{
    margin-right: 20px;
}