.review{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    max-width: 100%;
    z-index: 2;
}
.review__img{
    width: 500px;
    max-width: 90%;
}

.review__content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.review__content__previewImg__img{
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}
.review__content__previewImg__img:hover{
    transform: scale(1.1);
}
.review__content__previewImg__zoom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.review__content__previewImg__zoom__icon{
    background-color: #357BCE;
}

.review__content__previewImg__zoom img{
    width: 800px;
    border: 1px solid black;
}

@media(max-width: 700px){
    .review__content__previewImg__zoom img{
        width: 400px;
    }
    .review__content__previewImg__zoom{
        align-items: center;
    }
}

.review__content__previewImg__zoom__close-icon{
    background-color: blue;
}

.review__content__tboxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review__content__textbox, .review__content__textarea{
    margin-bottom: 34px;
    padding: 10px;
    border-radius: 5px;
    padding-right: 100px;
    background-color: #F8F8F8;
    border: 0px solid;
    box-sizing: border-box;
}     



.review__content__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review__content__uploadButton,.review__content__publishButton {
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
}
.review__content__uploadButton{

    background-color: #F8F8F8;
}
.review__content__uploadButton input{
    display: none;
}
.review__content__publishButton{
    background-color: #35C9CE;
    color: white;
    margin-left: 10px;
}