.notification{
    &-container{
        z-index: 1000;
        position: fixed;
        margin: 1%;
        width: 98%;
        // width: max-content;
        color: white;
        text-align: center;
        padding: 10px 15px;
        border-radius: 5px;
        // bottom: 0;
        top: 70px;
    }
    & p{
        font-family: $round;
        font-family: 100;
        text-transform: capitalize;
        
    }
}