.notification{
    &-container{
        z-index: 1000;
        position: fixed;
        margin: 1%;
        width: 98%;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }
    & p{
        text-transform: capitalize;
    }
}