.warning{
    &__value{
        width: 200px;
        color: red;
        text-align: left;
        width: 100%;
        padding: 10px;
        margin: 30px 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
}