.brand__information{
    display: flex;
    flex-flow: row wrap;
    width: 1200px;
    border-radius: 10px;
    max-width: 90%;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.07);
    justify-content: space-evenly;
    // align-items: center;
    margin: auto;
    padding: 10px 14px;
    background-color: $background;
    // background-color: red;
    &__img-ratings{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        @include respond(phone){
            margin-bottom: 20px;
        }
        // background-color: red;
        &__img{
            max-height: 150px;
            min-height:150px;
            max-width: 200px;
            max-height: 200px;
            object-fit: cover;
            // border-radius: 50%;
        }
        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: max-content;
            & p{
                color: $onSurface-secondary;
                font-weight: 600;
                font-size: 28px;
                line-height: 42px;
            }

            &__stars{
                margin-top: 10px;
            }

        }
    }
    &__title-about{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 30px;
        // width: 100%;
        align-self: stretch;
        margin-right: auto;
        margin-left: 10px;

        @include respond(phone){
            margin-bottom: 20px;
        }
        &__premeired{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            & h3{
                color: $primary;
                font-weight: bold;
                font-size: 22px;
                line-height: 33px;
                text-transform: capitalize;
                max-width: 300px;
                overflow-wrap: break-word;
            }
            &__tag{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary;
                color: $onPrimary;
                width: 100px;
                padding: 5px 0px;
                border-radius: 10px;
                cursor: pointer;
                margin-left: 10px;
                &:hover{
                    background-color: $primaryHover;
                }
            }
        }
        &__para{
            max-width: 350px;
            color: $onSurface-secondary;
            font-weight: normal;
            font-size: 18px;
            line-height: 31px;
        }
    }
}