.brandMain{
    max-width: $maxwidth;
    margin: auto;

    &__reviews-container{
        max-width: 1000px;
        margin: auto;
    }
    &__reviews{
        position: relative;
        min-height: 100px;
    }
    &__writeReview{
        max-width: 1000px;
        margin: auto;
    }
}