.dashboard{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
}

.dashboard ul{
    display: block;
    text-align: center;
}
.dashboard ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 8px 0px;
    width: 100px;
    cursor: pointer;
    padding-bottom: 10px;
} 

.dashboard__list__click{
    border-bottom: 5px solid #35C9CE;
    border-collapse: collapse;
    color: #35C9CE;
}

.dashboard__filter__input{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: #F8F8F8;
            padding: 12px 15px;
            width: 300px;
}

.dashboard__filter__input input{
                flex: 1;
                border: 0px;
                background-color: transparent;
                outline: none;
}

.dashboard__filter__input input:focus{
    outline: none;
}

@media(max-width: 700px){
    .dashboard{
        justify-content: center;
    }
}
