.review1{
    &__img-thumb{
        display: flex;
        flex-direction: row;
        padding: 10px 14px;
    }
    &__your-review{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $surface;
        width: 100%;
        border-radius: 10px;
        margin: 10px 0px;
        padding: 5px 10px;
        & textarea{
            flex: 1;
            background-color: transparent;
            border: 0px solid;
            padding: 0px 10px;
            padding-top: 15px;
            resize: none;
            font-size: 15px;
            &:focus{
                outline: none;
            }
        }
        &__icons{
            & input{
                display: none;
            }
            &__upload-icon{
                cursor: pointer;
            }
            &__send-icon{
                margin: 0 10px;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.5)
            }
        }
    }
}
    