.brand{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    @include respond(phone){
        justify-content: center;
        align-items: center;
    }
    &__logo{
        min-width: 200px;
        max-width: 200px;
        position: relative;
        & img{
            width: 100%;
        }
        @include respond(phone){
            margin: auto;
        }
    }
    &__info{
        margin-right: auto;
        margin-left: 20px;
        @include respond(phone){
            margin-right: 0;
            margin-left: 0;
            margin-top: 20px;
        }
        &__name{
            font-weight: bold;
            font-size: 36px;
            line-height: 43px;
            color: rgba(0, 0, 0, 0.8);
        }
        &__para{
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: $onSurface-secondary;
            max-width: 400px;
            word-break: break-all;
        }
    }
    &__progress{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: auto;
        @include respond(phone){
            margin-right: 0;
        }
        &__reviews{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            &__count{
                font-family: inherit;
                font-weight: 600;
                font-size: 70px;
                line-height: 105px;
                color: $primary;
            }
            h3{
                color: $primary;
            }
        }
        &__ratings{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & span {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
            img{
                width: 100px;
            }
            p{
                color: #FFCC0D;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
