@mixin respond($breakpoint) {
    // @if $breakpoint == tab-land {
    //   @media (max-width: 75em) {
    //     @content;
    //   }
    // } //1200px
    @if $breakpoint == tab {
      @media (max-width: 900px) {
        @content;
      } //900px
    }
    @if $breakpoint == phone {
      @media (max-width: 700px) {
        @content;
      } //768px
    }
    @if $breakpoint == big-desktop {
      @media (min-width: 87.5em) {
        @content;
      } //1400px
    }
  }
 
 


.dashboard__list{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        // max-width: 1100px;  
        // margin: auto;
        margin-bottom: 50px;
        @include respond(phone){
            justify-content: center;
        }
        &__chart{
          width: 100%;
          margin: auto;
          margin-top: 50px;
        }
        & ul{
            display: block;
            text-align: left;
            @include respond(phone){
                margin-bottom: 20px;
            }
            & li{
                display: inline-block;
                list-style: none;
                text-align: center;
                width: 100px;
                cursor: pointer;
                padding: 8px 0px;
            }
            .list__click{
                border-bottom: 5px solid #35C9CE;
                border-collapse: collapse;
                color: #35C9CE;
            }
        }

        &__filter{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: #F8F8F8;
            padding: 12px 15px;
            width: 300px;
            &__icon{
                cursor: pointer;
                color: #35C9CE;
            }
            input{
                flex: 1;
                border: 0px;
                background-color: transparent;
                outline: none;
            }
        }

        &__settings{
           
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          // margin: auto;
          max-width: 700px;
          margin-top: 50px;  
          &__items{
            display: flex;
            justify-content: space-between;
            flex: 0 0 40.3333%;
            margin: 10px 5px;
            border-bottom: 1px solid $onSurface-secondary;
            
            &__name{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;  
              padding: 10px 0px;
              @include respond(phone){
                flex-direction: column;
              }
              & h3{
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: $onSurface-primary;
              }
              & h4{
                font-weight: normal;
                font-size: 15px;
                line-height: 30px;
                color: $onSurface-secondary;
              }
            }
          }
        }

        &__update-settings{
          margin-top: 20px;  
        }
    }
