.filter{
    width: 300px;
    margin-bottom: 100px;
    position: relative;
    &__div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 13px 25px;
        width: 100%;
        background-color: $surface;
        border-radius: 10px;
        cursor: pointer;
        & h1{
            font-weight: normal;
            font-size: 23px;
            line-height: 24px;
            font-weight: 600;
            color: $onSurface-primary;
        }

        &__icon{
            & :hover{
                transform: scale(1.1);
            }
        }
    }
    &__options{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background:$onPrimary;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        position: absolute;
        top: -10;   
        width: inherit;
        padding: 8px 12px;
        & p{
            color: $primary;
            margin-left: 10px;
            font-weight: 600;
            font-size: 20px;
            line-height: 19px;
        }
        &__items{
            width: 100%;
            padding: 10px 14px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            & h4{
                color: $onSurface-secondary;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}