.dashboard{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;

    &__panel__review{
        margin: auto;
    }

    &__panel__user{
        margin: auto;
        padding: 10px 14px;
        margin-bottom: 50px;
    }

    &__panel__reports{
        width: 100%;
        padding-bottom: 50px;
        // position: relative;
        overflow: auto;
        &__images{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin: 10px 0;
        }
        &__table{
            width: 100%;
            border-collapse: collapse;
            // background-color: red;
            
            & tr{
                & th{
                    text-align: left;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 30px;
                    color: $onSurface-primary;
                    vertical-align: top;
                    min-width: 200px;
                    @include respond(phone){
                        font-size: 15px;
                        line-height: 15px;
                    }
                }
                &:not(:first-child):hover{
                    background-color: ghostwhite;
                }
            }
            &__data-rows{
                border-bottom: 1px solid rgba($onSurface-secondary, 0.1);  
                & td{
                    padding: 20px 0px; 
                    color: $onSurface-secondary;
                    vertical-align: top;
                    cursor: pointer;
                    @include respond(phone){
                        text-align:left;
                    }
                }
                &__name{
                    max-width: 100px;
                }
                &__ratings{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    & h4{
                        margin-right: 10px;
                        margin-bottom: 4px;
                    }
                    &__stars{
                        display: flex;
                        flex-direction: row;  
                        align-items: center;
                    }
                }
            }
            &__comment{
                max-width: 200px;
            }
        }
    }
}
.dashboard__links{
    flex: 0.5;
    @include respond(phone){
        flex: 1;
    }

}
.dashboard__links__header{
    display: none;
    @include respond(phone){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 14px;
        max-width: 100%;
        background-color: $surface;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        & h1{
            color: $onSurface-primary;
        }
    }
    
}
.dashboard__links__list{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    
    @include respond(phone){
        display: none;
        flex-direction: column;
        width: 90%;
        position: absolute;
        // z-index: 2;
        background-color: $surface;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
}
.dashboard__links__show{
    display: flex;
}
.dashboard__links__hide{
    @include respond(phone){
        display: none;
    }
}
.dashboard__links ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 8px 0px;
    cursor: pointer;
    padding-bottom: 10px;
    @include respond(phone){
        display: block;
        padding: 10px 0px;
        width: 100%;
        margin: 0px 0px;
    }
} 

.dashboard__list__click{
    border-bottom: 5px solid #35C9CE;
    border-collapse: collapse;
    color: #35C9CE;
}

.dashboard__filter__input{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            padding: 12px 15px;
            flex: 0.5;  
            &__filter{
                flex: 0.5;
                margin-right: 10px;
                @include respond(phone){
                    width: 100%;
                    flex: none;
                    margin-bottom: 10px;
                }
            }
            &__picker{
                flex: 0.5; 
                @include respond(phone){
                    flex: none;
                    width: 100%;
                } 
            }
            @include respond(phone){
                flex: none;
                width: 100%;
            }
}

.dashboard__filter__input input{
                flex: 1;
                border: 0px;
                background-color: transparent;
                outline: none;
}

.dashboard__filter__input input:focus{
    outline: none;
}

.admin__dashboard__brands{
    width: 1100px;
    max-width: 98%;
    margin: auto;
    background-color: red;
    &__title{
        display: flex;
        flex-direction: row;
        align-items: center;
        &__image{
            max-height: 50px;
            min-height: 50px;
        }
    }
}

@media(max-width: 700px){
    .dashboard{
        justify-content: center;
    }
}
