.dashboard{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;

    &__panel__user{
        max-width: 1200px;
        margin: auto;
        padding: 10px 14px;
        margin-bottom: 50px;
    }
}
.dashboard__links{
    flex: 0.5;
    @include respond(phone){
        flex: 1;
    }

}
.dashboard__links__header{
    display: none;
    @include respond(phone){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 14px;
        max-width: 100%;
        background-color: $surface;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        & h1{
            color: $onSurface-primary;
        }
    }
    
}
.dashboard__links__list{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    
    @include respond(phone){
        display: none;
        flex-direction: column;
        width: 90%;
        position: absolute;
        z-index: 2;
        background-color: $surface;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
}
.dashboard__links__show{
    display: flex;
}
.dashboard__links__hide{
    @include respond(phone){
        display: none;
    }
}
.dashboard__links ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 8px 0px;
    cursor: pointer;
    padding-bottom: 10px;
    @include respond(phone){
        display: block;
        padding: 10px 0px;
        width: 100%;
        margin: 0px 0px;
    }
} 

.dashboard__list__click{
    border-bottom: 5px solid #35C9CE;
    border-collapse: collapse;
    color: #35C9CE;
}

.dashboard__filter__input{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            padding: 12px 15px;
            flex: 0.5;  
            &__filter{
                flex: 0.5;
                margin-right: 10px;
                @include respond(phone){
                    width: 100%;
                    flex: none;
                    margin-bottom: 10px;
                }
            }
            &__picker{
                flex: 0.5; 
                @include respond(phone){
                    flex: none;
                    width: 100%;
                } 
            }
            @include respond(phone){
                flex: none;
                width: 100%;
            }
}

.dashboard__filter__input input{
                flex: 1;
                border: 0px;
                background-color: transparent;
                outline: none;
}

.dashboard__filter__input input:focus{
    outline: none;
}

@media(max-width: 700px){
    .dashboard{
        justify-content: center;
    }
}
