.dashboard__brands__data{
    &__brand{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        margin: 10px 0px;
        padding: 5px 0px;
        border-bottom: 1px solid rgb(109, 109, 109);
        &__item{
            flex: 1 1 20%;
        }
        &__intro{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 20px 0px;
            & img{
                width: 50px;
                height: 50px;
                object-fit: contain;
                border-radius: 50%;
                margin-right: 10px;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
            }  
            &__name{
                color: $onSurface-primary;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                text-transform: capitalize;
            }
        }
        &__details{
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            @include respond(phone){
                flex-direction: column;
            }
            &__button{
                & button{
                    background-color: tomato;
                    outline: none;
                    border: none;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 2px;
                    padding: 10px 25px;
                    color: white;
                    transition: all 300ms;
                    position: relative;
                    &:active{
                        transform: scale(.98);
                    }
                }
            }
            &__phone, &__email, &__address, &__country-code{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                
                & label{
                    color: $onSurface-primary;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
                & p{
                    color: $onSurface-secondary;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 30px;
                }
            }

            &__address{
                max-width: 300px;
                text-align: left;
            }
            
        }
    }
    &__brands{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.dashboard__brands__filter{
    margin: 20px 0px;
    width: 30%;
    margin-left: auto;
    @include respond(phone){
        width: 100%;
    }
}