.comparison{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;

    &__button{
        background-color: $primary;
        padding: 12px 16px;
        border-radius: 10px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
        & p{
            color: $onPrimary;
        }
    }
    
    &__first-brand{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F8F8F8;
        width: 300px;
        margin-bottom: 10px;
        position: relative;

        & input{
            border: 0px solid;
            outline: none;
            width: 100%;
            padding: 12px 16px;
            background-color: transparent;
        }
    }
    & h1{
        color: #35C9CE;
        align-self: flex-start;
        font-size: 18px;
    }
    &__second-brand{
        background: #F8F8F8;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        position: relative;
        & input{
            border: 0px solid;
            outline: none;
            width: 100%;
            padding: 12px 16px;
            background-color: transparent;
        }
    }
}