.dashboard__review__component{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(phone){
        margin-left: 0;
    }
    &__container{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;
    }
    &__item{
        margin-left: 50px;
        @include respond(phone){
            margin-bottom: 10px;
        }
    }
}

.dashboard__panel__reports__button{
    & button{
        outline: none;
        border: none;
        background-color: tomato;
        padding: 10px 25px;
        border-radius: 3px;
        transition: all 300ms;
        cursor: pointer;
        color: white;
        position: relative;
        &:active{
            transform: scale(0.98);
        }
    }
}