.details{
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;
    &__reviews{
        &__comment{
            width: 1100px;
            max-width: 90%;
            margin: auto;
        }
    }
}
.details ul{
    padding: 0px;
    margin-bottom: 50px;
    text-align: center;   
}
.details ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
}
.details ul li:active{
    color: $primary
}

.details__list__click{
    border-bottom: 2px solid $primary;
    border-collapse: collapse;
    color: $primary;  
}