.update__profile{
        width: 100%;
        padding: 12px 16px;
        background-color: $primary;
        text-align: center;
        border-radius: 8px;
        transition: 300ms;
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    &__button{
        color: $onPrimary;
    }
}