.homepage__header{
    // &-container{
    //     position: relative;
    //     top: -80px;
    //     @include respond(phone){
    //         top: -30px;
    //     }
    // }
    display: flex;
    flex-direction: row;
    @include respond(phone){
        flex-direction: column;
    }
    &__left{
        // background-color: #E8FFFE;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px;
        @include respond(phone){
            width: 100%;
        }
        &__sub{
            width: 500px;
            @include respond(phone){
                width: 100%;
            }
            margin: auto;
        }
    }
    &__infoHeading{
        margin-bottom: 50px;
        font-size: 50px;
        font-size: 900;
    }
    &__infoText{
        margin-bottom: 50px;
        color: $onSurface-secondary;
        font-size: 20px;
    }
    &__link{
        border: none;
        outline: none;
        background-color: $primary;
        border-radius: 8px;
        padding: 20px 30px;
        font-size: 20px;
        cursor: pointer;
        color: white !important;
        transition: all 300ms;
        &:hover{
            background-color: $primaryHover;
        }
    }
    &__right{
        width: 50%;
        margin-top: 50px;
        @include respond(phone){
            margin-top: 100px;
            width: 100%;
        }
    }
    overflow: hidden;
    padding-bottom: 20px;
    &__brand{
        display: flex;
        align-items: center;
        transform: rotate(30deg) translate(50px, 50px);
        @include respond(phone){
            transform: none;
            flex-direction: column;
            justify-content: space-evenly;
        }
        &__col1{
            display: flex;
            flex-direction: column;
            margin:20px;
            @include respond(phone){
                flex-direction: column;
                justify-content: space-around;
                width: 90%;
            }
        }
        &__col2{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 90%;
        }
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px 20px;
            margin: 20px;
            box-shadow: 0px 30px 80px rgba(13, 19, 19, 0.1);
            background-color: white;
            border-radius: 10px;
            aspect-ratio: 1;
            width: 200px;
            @include respond(phone){
                width: 100%;
                padding: 10px;
                margin: 10px 0px;
                text-align: center;
            }
            &__logo{
                max-height: 120px;
                // width: 100%;
                // object-fit: contain;
            }
            &__logo-container{
                transition: 300ms;
                &:hover{
                    transform: scale(1.1);
                }
            }
            &__rating{
                display: flex;
                flex-direction: row;
                @include respond(phone){
                    flex-direction: column;
                }
                align-items: center;
                margin: 20px 0;
                & p{
                    font-size: 14px;
                    white-space: nowrap;
                    line-height: 8px;
                }
            }
        }
    }
}