.homepage{
    &__compare-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px; 
    }
    &__searchbar-container{
        max-width: 750px;
        margin: 20px auto;
        position: relative;
        @include respond(phone){
            margin: 20px;
        }
    }
}