@mixin respond($breakpoint) {
    // @if $breakpoint == tab-land {
    //   @media (max-width: 75em) {
    //     @content;
    //   }
    // } //1200px
    @if $breakpoint == tab {
      @media (max-width: 900px) {
        @content;
      } //900px
    }
    @if $breakpoint == phone {
      @media (max-width: 700px) {
        @content;
      } //768px
    }
    @if $breakpoint == big-desktop {
      @media (min-width: 87.5em) {
        @content;
      } //1400px
    }
  }
.topbrands{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
    //border-radius: 15px;
    &__table{
      width: 100%;
      border-collapse: collapse;
      overflow-y: auto;
      padding: 10px 14px;
      border-radius: 10px;
      & tr{
        &:not(:last-child){
          border-bottom: 1px solid rgba(128, 128, 128, 0.541);
        }
        &:hover{
          background-color: ghostwhite;
        }
      }
      & td{
        padding: 20px 5px;
      }
      
    }
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 10px;
        position: relative;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: all 300ms;
        &:hover{
          background-color: ghostwhite;
        }
        @include respond(phone){
          margin: 0 10px;
        }
        &__position{
            position: absolute;
            left: 0px;
            transform: translateX(-50%);
            @include respond(phone){
                width: 20px;
                transform: none;
                top: 0;
            }
        }
        &__icon{
          width: 100px;
          margin-left: 20px;
          &__img{
              // margin-left: auto;
              max-height: 50px;
              min-height: 50px;
              max-width: 50px;
              min-width: 50px;
              object-fit: contain;
              @include respond(phone){
                  width: 50px;
              }
          }
        }
        &__name{
          width: 500px;
          & h1{
          }
        }
        &__category{
            margin-right: auto;
            // width: 100px;
            // background-color: red;
        }
        &__ratings{
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            & p{
                line-height: 15px;
                margin-left: 10px;
            }
        }
        
    }
}