.imagePreview{
    max-width: 300px;
    max-height: 300px;
    position: relative;
    &__icon{
        background-color: black;
        color: white;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transform: translate(50%, -50%);
        &:hover{
            transform: translate(50%, -50%) scale(1.05);
        }
    }
}