.mydetails{
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    &__details{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }
    &__update-details{
        & h1{
            align-self: center;
            inset: 0;
        }
        &__mask{
            background-color: rgba(0, 0, 0, 0.247);
            position: fixed;
            inset: 0;
        }
        &__update{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 10;
        padding: 14px 18px;
        background-color: $onPrimary;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 600px;
        max-width: 90%;
        transition: 1.5;
        &__phone{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            & label{
                font-weight: 500;
            }
            &__phone-number{
                // width: 10%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                // &__number{
                    
                //     width: 70%;
                //     padding: 10px 14px;
                //     border: 0px solid;
                // }
                // &__country-code{
                //     width: 30%;
                //     padding: 10px 14px;
                //     border: 0px solid;
                // }
            }
            
        }
         &__dob, &__address, &__country, &__email{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                margin-bottom: 10px;
                align-items: flex-start;
                inset: 0;
                
                & input{
                    width: 100%;
                    border: 0px solid;
                    border-bottom: 1px solid gray;
                    padding: 10px 14px;
                    margin: 20px 0px;
                    &:focus{
                        outline: none;
                    }
                }
                & label{
                    font-weight: 500;
                }
            }
            &__dob{
                width: 100%;
                &__container{
                    width: 100%;
                }
                
            }

            &__address{
                & input{
                    margin: 20px 0px;
                }
            }
            &__button{
                width: 100%;
                padding: 12px 16px;
                background-color: $primary;
                text-align: center;
                border-radius: 8px;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                }
                & h1{
                    color: $onPrimary;
                }
            }
    }
    }
}
.mydetails__update-button{
    width: 300px;
}
.PhoneInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // margin-left: 10px;
}

.PhoneInputCountryIcon{
    margin-top: 10px;
    width: 50px;
}
.PhoneInputCountrySelect{
    // display: none;
    outline: none;
    border: 0px solid;
    width: 100px;
}
.PhoneInputInput{
    width: 100%;
    outline: none;
    border: 0px solid;
    border-bottom: 1px solid gray;
    padding: 10px 14px;
    // margin: 20px 0px;
}